<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="(item,index) in items">
                {{item}} <button @click = "removeItem(index)" >X</button>
            </li>
        </ol>
        <input v-model="value" placeholder = "Item to add" @keyup.enter="addItem()" />
            <button @click="addItem()">Add Item</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data:{
                value: 'ayy lmo',
                items: []
            },
            methods: {
                addItem(){
                    if(this.value.length > 0){
                    this.items.push(this.value);
                    this.value = '';
                }
                },
                removeItem(index){
                    this.items.splice(index,1);
                },

            }
        });
    </script>
</body>
</html>
